:root{
    --color-primario: #fff;
    --color-secundario: #00235A;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: var(--color-secundario);
}

/* HEADER */
header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    flex-wrap: wrap;
    position: fixed;
    background-color: #fff;
}

    header .contenedor-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1{
        color: var(--color-secundario);
    }

    h2{
        color: var(--color-secundario);
        font-size: 4rem;
    }
    .letra-blanca{
        color: white;
    }

    .contenedor-logo>img{
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    .menu{
        display: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu>ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .menu>ul>li{
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10px;
        color: var(--color-secundario);
    }
    #contacto{
        background: var(--color-secundario);
        width: 120px;
        height: 40px;
        color: var(--color-primario);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        text-decoration: none;
    }
    #contacto>a{
        color: var(--color-primario);
    }

    #contacto:hover{
        background-color: rgb(2, 24, 58);
    }

    .menu>ul>li:hover{
        cursor: pointer;
        text-decoration: underline;
    }

    #icono-menu-hamburguesa{
        width: 40px;
        height: 40px;
        display: none;
    }

    .menu-hamburguesa{
        display: none;
        width: 100vw;
        height: 105vh;
        background-color: #00235A;
        position: absolute;
    }

    .menu-hamburguesa>ul{
        width: 100%;
        height: calc(100vh - 60px);
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        margin: 0px;
        padding: 0px 0px 50px 0px;
    }
    .menu-hamburguesa>ul>li{
        margin: 40px 0px;
        font-size: 2.4rem;
    }
    .menu-hamburguesa>ul>li:hover{
        cursor: pointer;
        text-decoration: underline;
    }

    #icon-menu{
        display: none;
        align-items: center;
    }

    #icon-menu:hover{
        cursor: pointer;
    }
/* ------------ */

/* Seccion de inicio */
#seccion-inicio{
    width: 100%;
    height: 100vh;
    padding: 100px 40px 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .contenedor-inicio-izquierda{
        max-width: 600px;
    }
    .contenedor-inicio-izquierda>p{
        margin-top: 30px;
        font-size: 1.4rem;
    }
    .contenedor-inicio-derecho{
        max-width: 800px;
    }
        .contenedor-inicio-derecho>img{
            width: 500px;
            height: 500px;
        }

/* Seccion de mision y vision */
#seccion-mision-vision{
    width: 100%;
    height: 100vh;
    background-color: var(--color-secundario);
    padding: 100px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    .container-mision-vision{
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
        .container-info-mision-vision{
            max-width: 500px;
            height: 100%;
        }
            .container-info-mision-vision>h2{
                margin-bottom: 40px;
            }
            .container-info-mision-vision>p{
                font-size: 1.5rem;
            }
        .container-imagenes-mision-vision{
            width: 100%;
            max-width: 400px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
            .top-imagenes{
                display: flex;
                justify-content: space-between;
            }
            .imagen1{
                width: 49%;
                height: 110px;
            }
            .imagen1>img, .imagen2>img, .imagen3>img{
                width: 100%;
                height: 100%;
            }
            .imagen2{
                width: 49%;
                height: 110px;
            }
            .imagen3{
                width: 100%;
                height: 100px;
            }

/* Servicios */
#seccion-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px 100px 40px;
}

#seccion-servicios>p{
    margin: 20px 0px;
    font-size: 1.5rem;
    text-align: center;
}
    .contenedor-servicios{
        width: 100%;
        max-width: 1000px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 20px 40px;
        margin: 20px 0px;
        display: flex;
        justify-content: space-between;
    }   
        .contenedor-info-servicios{
            max-width: 600px;
        }
        .contenedor-info-servicios>h3{
            margin-bottom: 20px;
            font-size: 1.5rem;
        }
        .contenedor-info-servicios>p{
            margin-bottom: 20px;
            font-size: 1.2rem;
        }
        .contenedor-imagen-servicios>img{
            width: 180px;
            height: 180px;
        }

/* Seccion contacto */
#seccion-contacto{
    width: 100%;
    height: 100vh;
    background-color: var(--color-secundario);
    padding: 100px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #form-contacto{
        width: 100%;
        max-width: 740px;
        background-color: white;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        margin: 30px 0px 30px 0px;
    }
    #form-contacto>fieldset{
        width: 100%;
        border: none;
        display: flex;
        justify-content: space-between;
    }
    .contenedor-inputs{
        width: 300px;
        display: flex;
        flex-direction: column;
    }
        .contenedor-inputs>input{
            padding: 5px;
            margin: 10px 0px 5px 0px;
        }
        #enviar{
            width: 100%;
            max-width: 200px;
            background-color: #00235A;
            color: white;
            margin-top: 30px;
            border: none;
            padding: 10px;
            border-radius: 10px;
        }
            #enviar:hover{
                background-color: #042f74;
                cursor: pointer;
            }
        
        .mensaje{
            width: 100%;
        }
        .contenedor-inputs>textarea{
            width: 100%;
            height: 80px;
            padding: 5px;
            margin: 10px 0px 5px 0px;
        }
footer{
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, .10);
    padding: 10px 30px;
    color: var(--color-primario);
    position: absolute;
    margin-top: calc(100vh - 180px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #terminos>p>a{
        color: var(--color-primario);
    }

@media only screen and (max-width : 920px) {
    h2{
        font-size: 2.5rem;
    }
    header{
        padding: 16px 10px;
    }
    .menu{
        display: none;
    }
    #icono-menu-hamburguesa{
        display: initial;
    }
    #cerrar-menu{
        width: 30px;
        height: 30px;
        display: flex;
        position: relative;
        float: right;
        margin: 30px;
    }
    #cerrar-menu:hover{
        cursor: pointer;
    }
    #icon-menu{
        display: flex;
    }

    #seccion-inicio{
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column-reverse;
        padding: 100px 10px 0px 10px;
    }
    .contenedor-inicio-izquierda>p{
        font-size: 1rem;
    }
    .contenedor-inicio-derecho>img{
        width: 250px;
        height: 250px;
    }

    #seccion-mision-vision{
        padding: 80px 10px 0px 10px;
        justify-content: start;
    }

    .container-mision-vision{
        height: 270px;
        flex-direction: column;
        align-items: center;
        padding: 14px 0px;
    }
        .container-info-mision-vision>h2{
            margin-bottom: 0px;
        }
        .container-info-mision-vision>p{
            font-size: 1rem;
        }
        .container-imagenes-mision-vision{
            width: 100%;
            height: 400px;
        }

        .imagen1{
            width: 49%;
            height: 65px;
            background-color: green;
        }
        .imagen2{
            width: 49%;
            height: 65px;
            background-color: green;
        }
        .imagen3{
            width: 100%;
            height: 80px;
            background-color: aqua;
        }

    #seccion-servicios{
        padding: 100px 10px 100px 10px;
    }
    #seccion-servicios>h2, #seccion-servicios>p{
        text-align: center;
    }
        .contenedor-servicios{
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
            .contenedor-imagen-servicios>img{
                margin-top: 30px;
            }
    #seccion-contacto{
        padding: 100px 10px 100px 10px;
    }
        #form-contacto{
            padding: 5px;
        }
        #form-contacto>fieldset{
            width: 100%;
            flex-wrap: wrap;
        }
        .contenedor-inputs{
            width: 100%;
        }
        #enviar{
            margin-top: 4px;
            margin-bottom: 10px;
        }
    footer{
        height: 40px;
        margin-top: calc(100vh - 140px);
        font-size: 0.5rem;
    }
}

::-webkit-scrollbar{
    display: none;
}

